.login-div{
    position: absolute;
    top: 20%;
}

.login-button{
    position: absolute;
    top: 55%;
    width:90%;
    background-color: transparent;
}

.login-input{
background-color:transparent;
}