
.background {
    background-color: #2A91E3;
   //background: url('../assets/img/mybackground.jpg') no-repeat;
    background-size: cover;
}

.login-div{
    position: absolute;
    top: 20%;
}

.login-button{
    position: absolute;
    top: 55%;
    width:90%;
    background-color: transparent;
}

.signUp-button{
    // position: absolute;
    top: 75%;
    //width:90%;
    background-color: transparent;
}

.login-input{
background-color:transparent;
}

// .signup-div{
//     position: absolute;
//     //top: 20%;
// }

.signup-button{
   // position: absolute;
    //top: 65%;
    //width:90%;
    background-color: transparent;
}
.signup-input{
background-color:transparent;
}