<ion-header>
    <ion-navbar>
        <ion-title>
            Extentia Cafe Outlets
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">
    <div class="signup-div">

        <ion-row>
            <ion-col>
                <ion-list inset>

                    <ion-item class="signup-input">
                        <ion-label floating>Username</ion-label>
                        <ion-input type="text" [(ngModel)]="userInputData.userName"></ion-input>
                    </ion-item>

                    <ion-item class="signup-input">
                        <ion-label floating>Email Id</ion-label>
                        <ion-input type="email" [(ngModel)]="userInputData.emailId" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></ion-input>
                    </ion-item>

                    <div [hidden]="email.valid || email.untouched">
                        <div class="md-char-counter" *ngIf="email.errors && email.errors.required">
                            Email is required
                        </div>
                        <div class="md-char-counter" *ngIf="email.errors && email.errors.pattern">
                            Email is invalid
                        </div>
                    </div>

                    <ion-item class="signup-input">
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" [(ngModel)]="userInputData.password"></ion-input>
                    </ion-item>

                    <ion-item class="signup-input">
                        <ion-label floating>Confirm Password</ion-label>
                        <ion-input type="password" [(ngModel)]="userInputData.confirmPassword"></ion-input>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>
        <button class="signup-button" [disabled]="!userInputData.userName || !userInputData.emailId || !userInputData.password || !userInputData.confirmPassword"
            (click)="signUp()" ion-button block color="dark" outline>SignUp</button>
    </div>





</ion-content>